
<h1> Stupid Coaching</h1>

  Ask your coach anything:
<form action="answer" data-turbo="false" class="d-flex" >
  <input type="text" name="ask"  class="w-75 form-control" value="<%= params[:ask]%>">
  <input type="submit" value="Ask" class="btn btn-primary">
</form>
